$green: #0a4449;
$yellow: #fff7b9;

* {
  box-sizing: border-box;
}

body {
  background-color: $green;
  color: $yellow;
  font-family: Eina01;

  a {
    color: $yellow;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@font-face {
  font-family: Eina01;
  font-weight: 400;
  font-style: normal;
  src: url("../../static/fonts/eina-01-regular.woff2") format("woff2"),
    url("../../static/fonts/eina-01-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Eina01;
  font-weight: 700;
  font-style: normal;
  src: url("../../static/fonts/eina-01-bold.woff2") format("woff2"),
    url("../../static/fonts/eina-01-bold.woff") format("woff");
  font-display: swap;
}

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px
) !default;

.container {
  border: 3px solid #fff7b9;
  border-bottom: none;
  margin: 20px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
}

.card {
  border-bottom: 3px solid $yellow;
  min-height: 50%;
  min-height: 700px;
}

.subcard {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.main {
  .intro {
    font-size: 0.5rem;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .mainTitle {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1em;

    .part {
      text-align: center;
      @media (min-width: map-get($breakpoints, tablet)) {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  .subtitle {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .rsvp {
    margin-top: 75px;
    position: relative;
    padding: 20px 80px;
    cursor: pointer;

    .frame1 {
      border: 1px solid $yellow;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 5px;
      right: 5px;
    }

    .frame2 {
      border: 1px solid $yellow;
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 0;
      right: 0;
    }
  }
}

.location {
  .text {
    padding: 75px;
  }
  .directions a {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .map {
    background-image: url("../../static/images/saratoga_lake.svg");
    background-position: center -1px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}
@media (max-width: map-get($breakpoints, tablet)) {
  .location {
    display: block;
    .subcard {
      height: 500px;
      .map {
        background-size: cover;
      }
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 0.078em;
}

.schedule {
  .subcard {
    padding: 75px;
    &:last-child {
      border-left: 3px solid $yellow;
    }
  }

  .scheduleTable {
    margin-top: 30px;
    .scheduleRow {
      margin: 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .time {
        width: 50px;
        margin-right: 10px;
      }
      .eventName {
        margin-left: 10px;
      }
      .spacer {
        flex: 1;
        border-bottom: 0.5px dotted $yellow;
      }
    }
  }
}

.accommodations {
  .header {
    margin: 75px;
    margin-bottom: 0;
  }
  .hotel {
    flex: 1;
    margin: 30px 75px;
    iframe {
      width: 100%;
      height: 300px;
    }
    .description {
      margin-top: 30px;
    }
  }
}
